footer {
  padding: 1rem 0;
  @include flex;
  @include flexy-column;
  @include flexy-center;
  min-height: 7vh;
}

.copyrights {
  position: relative;
  left: 0;

  &__para {
    color: $brandDarkGrey;
    font-weight: 300;
  }
}

.social {
  @include flex;
  @include flexy-center;
  z-index: 5;
}

.img-wrapper--social {
  margin: 0.2rem;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  background: $brandDetailsBG;
  @include flex;
  @include flexy-center;
  border-radius: 100%;
}
