@import "../base/_globals.scss";

header {
  height: 66vh;
  background: rgba(0,0,0,0.7);
  position: relative;
}

header::after {
  content: "";
  background-image: url("../assets/header__bg.png");
  background-position: center;
  background-size: cover;
  // display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-headline {
  margin: 0 auto;
  margin-top: 4rem;

  font-size: 1.7rem;
  font-weight: 700;
  color: $brandBg;
  line-height: 2.3rem;
}

.header-para {
  margin: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
}
