@import "_colors";
$nav-font: 'Montserrat', sans-serif;
$p-font: 'Roboto Slab', serif;
$h-font: 'Montserrat', sans-serif;

h1,
h2,
h3 {
  text-align: center;
  font-family: $h-font;
  line-height: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

p {
  margin: 0 1rem;
  max-width: 30rem;
  font-family: $p-font;
  color: $brandLightGrey;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: -0.25px;
}
